ud4/03/03.dtd

<!ELEMENT   programmingLanguajes (lenguaje)+>
<!ELEMENT   lenguaje (description?, example?)>
<!ELEMENT   description (#PCDATA)>
<!ELEMENT   example (#PCDATA)>
<!ATTLIST lenguage name CDATA #REQUIRED>
<!ATTLIST programmingLanguajes xmlns:xsi CDATA #IMPLIED
            xsi:noNamespaceSchemaLocation CDATA #IMPLIED>
